<div class="row">
	
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Achilles Tendinitis, Tendinosis', conditions_achilles_path %></li>
	</ol>

	<div class='conditions-container'>
		<h1>Achilles Tendinitis, Tendinosis</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>The Achilles tendon runs down the back of the lower leg and connects the calf muscle to the heel bone. Two common disorders that occur in the heel cord are Achilles tendonitis and Achilles tendonosis.</p>

				<p>Achilles tendonitis is an inflammation of the Achilles tendon and is usually short-lived. Over time, if not resolved, the condition may progress to a degeneration of the tendon called Achilles tendonosis. Both are usually caused by overuse during repetitive activity involving the Achilles tendon. Another cause is over-pronation which occurs during walking when the arch collapses upon weight bearing, adding stress on the Achilles tendon. Other factors that lead to Achilles tendonitis are improper shoe selection, inadequate stretching prior to engaging in athletics, a short Achilles tendon, direct trauma (injury) to the tendon, and heel bone deformity.</p>

				<p>Symptoms include pain, tenderness and even palpable scar tissue along the tendon.</p>

				<h2>Achilles Tendinitis Treatment</h2>

				<p>Conservative care begins with a stretching regimen and decreasing any high impact activities to allow the tendon to heal. Icing the area for 10 to 20 minutes three times a day can help decrease inflammation.</p>

				<p>Patients can use an orthotic device, heel cup, or heel cradle for extra support. A heel cup or heel cradle elevates the heel and reduces stress on the Achilles tendon. Early diagnosis and treatment is important in making sure the condition doesn’t turn chronic.</p>

				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container img-standard'>
			<%= image_tag 'conditions/achilles-tendinitis-tendinosis.jpg', :alt => 'Achilles Tendinitis Tendinosis example', :class => ["img-thumbnail", " image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>
