<div class="row">
	
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Arthritis, Hallus Limitus, Hallux Rigidus', conditions_arthritis_path %></li>
	</ol>

	<div class='conditions-container'>
		<h1>Arthritis, Hallus Limitus, Hallux Rigidus</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>Arthritis in the big toe joint is called hallux rigidus. It can be caused by abnormalities in the foot structure. Patients suffer from pain, swelling, inflammation and stiffness in this area. The symptoms often worsen while walking and running or if the weather is cold or damp. Left untreated, arthritis can break down the cartilage and destroy the joint.</p>
				
				<h2>Arthritis Treatment</h2>

					<p>Conservative treatment includes shoe modification, anti-inflammatory medications, injections, orthotics and physical therapy. If conservative care fails, surgical correction can be considered. The type of procedure will depend on the condition of joint and your level of daily activity.</p>

					<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag("conditions/arthritis.jpg", :alt => "arthritis foot example", :class => "img-thumbnail", " image-responsive", "center-block", "img-smaller") %>
		</div>
	</div>
</div>
