<div class="row">
	
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Bunion, Hallux Valgus, Hallux Abductovalgus (HAV)', conditions_bunion_path %></li>
	</ol>

	<div class='conditions-container'>
		<h1>Bunion / Hallux Valgus / Hallux Abductovalgus (HAV)</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>A bunion is a bump found near the joint at the base of the big toe. Pain, redness and extreme sensitivity increase as bunion growth progresses and the affected toe is pushed out of alignment. Bunions can be hereditary and wearing tight or pointy shoes can make them worse.</p>
				
				<h2>Bunion Treatment</h2>

				<p>Bunions vary from mild to severe and can be treated in many ways. If caught at an early stage, they can be treated with splinting, orthotics and proper shoe gear. Orthotics can prevent the bunion from becoming worse but typically do not cure the underlying problem. If a bunion is causing enough pain to interfere with your daily activities, surgical correction can be considered.</p>
				
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6'>
			<div class='col-md-6 img-container'>
				<%= image_tag 'conditions/bunion1.jpg', :alt => 'Bunion example', :class => "img-thumbnail", " image-responsive", "center-block" %>
			</div>
			<div class='col-md-6 img-container'>
				<%= image_tag 'conditions/bunion2.jpg', :alt => 'Bunion', :class => "img-thumbnail", " image-responsive", "center-block" %>
			</div>
		</div>
	</div>
</div>
