<div class="row">
	
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Diabetic Ulcer, Diabetic Foot Care', conditions_diabetic_path %></li>
	</ol>

	<div class='conditions-container'>
		<h1>Diabetic Ulcer, Diabetic Foot Care</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>Inspect your feet daily. If your eyesight is poor, have someone else do it for you. Look for:
				<ul>
					<li>Skin or nail problems: Look for cuts, scrapes, redness, drainage, swelling, bad odor, rash, discoloration, loss of hair on toes, injuries, or nail changes</li>
					<li>Signs of fracture: If your foot is swollen, red, hot, bruised, or has changed in size, shape, or direction, see your foot and ankle surgeon immediately.</li>
					<li>Bathe your feet daily. Wash carefully with warm water and soap; rinse and dry thoroughly. Make sure you dry completely between the toes.</li>
					<li>If the skin on your feet is dry, a moisturizing cream will help. It should be applied sparingly. Do not apply it between the toes.</li>
					<li>Be careful as you trim your toenails. File straight across. If you have any nail problems, hard nails, or reduced feeling in your feet, your toenails should be properly trimmed by your podiatrist.</li>
					<li>Notice if you have pain in your legs when you walk or exercise. If that pain stops as soon as you rest, you may have poor circulation or a blocked artery. </li>
					<li>Never go barefoot - even inside your house. Always wear shoes to protect your feet.</li>
					<li>Finally, make sure your shoes fit right. Shoes that are too tight or loose can cause blisters and calluses. Shake out your shoes before putting them on. Make sure socks aren't rubbing or bunching up. There are special diabetic socks and shoes that help prevent ulcerations. Ask your podiatrist if you qualify for diabetic shoes. </li>
				</ul>
				<h2>Diabetic Foot Treatment</h2>
				<p>Treatment of diabetic wounds begins with an assessment of your skin, soft tissue, bones and nerves. Dr. Yoshida will create a customized plan to suit your individual needs.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag 'conditions/diabetic_ulcer.jpg', :alt => 'Diabetic Ulcer Foot example', :class => "img-thumbnail", " image-responsive", "center-block", "img-smaller" %>
		</div>
	</div>
</div>
