<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Flatfeet, Fallen Arches, Posterior Tibial Tendon Disorder (PTTD)', conditions_flatfeet_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Flatfeet, Fallen Arches, Posterior Tibial Tendon Disorder (PTTD)</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>The posterior tibial tendon serves as one of the major supporting structures of the foot. Posterior tibial tendon dysfunction (PTTD) is when the tendon becomes damaged and is unable to support the arch. This results in flattening of the foot and usually occurs in adults which is why it is often called “adult acquired flatfoot.” PTTD is usually progressive, which means it will keep getting worse, especially if it isn’t treated early. Overuse of the tendon is often the cause of PTTD. The symptoms include pain, swelling, flattening of the arch, and inward rolling of the ankle.</p>
				<h2>Flatfoot Treatment</h2>
				<p>Because of the progressive nature of PTTD, early treatment is advised. If treated early enough, your symptoms may resolve without the need for surgery and progression of your condition can be arrested.</p>
				<p>Conservative care includes <%= link_to 'orthotics', conditions_orthodics_path %> or bracing to support your arch, or immobilization in a short leg cast or boot to allow the tendon to heal. After immobilization, physical therapy can also help strengthen the tendon. Nonsteroidal anti-inflammatory drugs (NSAIDs), such as ibuprofen and naproxen can help reduce the pain and swelling.</p>
				<p>In some cases, surgery may need to be performed to repair a torn tendon and restore normal function. In the more severe cases, surgery on the midfoot bones may be necessary to treat the associated flatfoot condition. </p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag 'conditions/flat-feet-fallen-arches.jpg', :alt => 'Diabetic Neuropathy Foot example', :class => ["img-thumbnail", " image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>
