<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Foot & Ankle Fractures', conditions_fractures_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Foot & Ankle Fractures</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>There are 26 bones in the foot. Certain activities or injuries can cause a fracture, or “broken” bone. Pain, swelling, redness, and even bruising are signs of a possible fracture.</p>
				<h2>Fracture Treatment</h2>

				<p>Fractures of the foot can be diagnosed by x-rays or other studies. The location, severity and alignment of the fracture will help determine whether to proceed with conservative care or if surgical intervention is warranted.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag 'conditions/ankle-fracture.jpg', :alt => 'Ankle Fracture X-Ray example', :class => ["img-thumbnail", " image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>
