<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Nail Fungus, Tinea, Onychomycosis', conditions_fungus_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Nail Fungus, Tinea, Onychomycosis</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>Toenail fungus, known as onychomycosis is a fungal infection of the toenails or fingernails. Fungal infections occur after a small trauma in the nail allows these organisms to enter and propagate. Shoes and socks provide the perfect warm and moist environment for them to flourish. </p>
 			   <p>Symptoms of toenail fungus include: discoloration, thickening and crumbling of the nail sometimes leading to complete loss of the nail. This ailment causes fingernails or toenails to thicken, discolor, disfigure, and split. Without treatment, the toenails can become abnormally thick forcing the toe to press against the inside of the shoes or onto adjacent toes causing pressure, irritation, ulceration and pain.</p>
			   <p>Toenail Fungus can be picked up in damp areas such as public gyms, shower stalls or swimming pools and can be passed on among family members. <%= link_to 'Diabetics', conditions_diabetic_path %> are at a higher risk of contacting a toenail fungus because their immune systems are compromised.</p>
			   <p>There are other infections that can cause the nails to host a similar appearance to onychomycosis. Onychomycosis is generally established by taking a sample of the nail and sending it to a lab to identify the culprit before beginning treatment.</p>
			   <h2>Nail Fungus Treatment</h2>
			   <p>Wash and dry your feet thoroughly (don’t forget to dry between your toes) on a regular basis. Disinfect socks and shoes. Use an anti-fungal powder in your shoes. To prevent infecting others in your household, bleach the bathtub on a regular basis. Keep toenails trimmed and be sure to disinfect any pedicure tools before using them.</p>
			   <p>We recommend that patients bring their own set of instruments to their nail salon to be certain they are fully sterilized. Topical treatment is a great place to start but it can take months to see a difference - toenails can take a whole year to grow all the way out. Laser treatment for fungal nails is also available. Severe infections will be treated with a prescription oral anti-fungal medication pending a blood test.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag 'conditions/nail-fungus-tinea.jpg', :alt => 'Nail Fungus Tinea example', :class => ["img-thumbnail", " image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>
