<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Have you cared for your feet?</h1>
		<div class='col-md-6'>
			<p>Dr. Yoshida is committed to diagnosing and explaining the cause of your pain and will develop a treatment plan tailored to you. Click on the links below to learn more about common foot and ankle conditions.</p>
			<ul class="conditions-links">
	            <li><%= link_to 'Achilles Tendinitis, Tendinosis', conditions_achilles_path %></li>
	            <li><%= link_to 'Arthritis, Hallus Limitus, Hallux Rigidus', conditions_arthritis_path %></li>
	            <li><%= link_to 'Bunion, Hallux Valgus, Hallux Abductovalgus (HAV)', conditions_bunion_path %></li>
				<li><%= link_to 'Callus, Corn', conditions_callus_path %></li>
				<li><%= link_to 'Diabetic Ulcer, Diabetic Foot Care', conditions_diabetic_path %></li>
				<li><%= link_to 'Diabetic Neuropathy', conditions_neuropathy_path %></li>
				<li><%= link_to 'Flatfeet, Fallen Arches, Posterior Tibial Tendon Disorder (PTTD)', conditions_flatfeet_path %></li>
				<li><%= link_to 'Foot & Ankle Fractures', conditions_fractures_path %></li>
				<li><%= link_to 'Foot & Ankle Sprains', conditions_sprain_path %></li>
				<li><%= link_to 'Hammertoes', conditions_hammertoes_path %></li>
				<li><%= link_to 'Heel Spur, Bone Spur', conditions_spur_path %></li>
				<li><%= link_to 'Ingrown Toenail', conditions_ingrown_path %></li>
				<li><%= link_to 'Nail Fungus, Tinea, Onychomycosis', conditions_fungus_path %></li>
				<li><%= link_to 'Neuroma', conditions_neuroma_path %></li>
				<li><%= link_to 'Orthotics', conditions_orthodics_path %></li>
				<li><%= link_to 'Plantar Fasciitis, Heel Pain', conditions_plantar_path %></li>
				<li><%= link_to 'Wart', conditions_wart_path %></li>
				<li><%= link_to 'Wound Care, Diabetic Ulcer', conditions_wound_path %></li>
			</ul>
		</div>
		<div class='col-md-6 img-container'>
			<img src='/assets/foot-surgery.jpg' alt="foot surgery" class="img-thumbnail image-responsive center-block">
		</div>
	</div>
</div>
		