<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Ingrown Toenail', conditions_ingrown_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Ingrown Toenail</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>When a toenail is ingrown, it is curved and grows into the skin, usually at the sides of the nail. This irritates the skin, often creating pain, redness, swelling, and warmth in the toe. If an ingrown nail causes a break in the skin, bacteria may enter and cause an infection in the area, which is often marked by drainage and a foul odor. In people who have <%= link_to 'diabetes', conditions_diabetic_path %> or poor circulation, this relatively minor problem can be become a serious infection.</p>
				<p>There are several causes of ingrown toenails: a hereditary tendency to form ingrown toenails, improperly cutting the toenails either too short or cutting into the side of the nail, and ill-fitting shoes can cause them. Children will often develop ingrown toenails as a result of peeling or tearing their toenails off instead of trimming them with a nail clipper. Once an ingrown toenail starts, they will often recur. </p>
				<h2>Ingrown Toenail Treatment</h2>
				<p>Treatment for ingrown toenails requires removal of the offending nail border. An injection is administered to numb the toe and the nail margin is removed. With removal of the nail margin, the nail will be narrower and this should be expected. It may take a few weeks for the nail margin to completely heal, but there are generally no restrictions in activity, bathing, or wearing shoes. Once the numbness wears off, there may be some very mild discomfort easily controlled with over-the-counter pain medications. Antibiotics may be prescribed if the area looks infected. </p>
				<p>To prevent ingrown toenails it is recommended to wear properly fitting shoes. Don’t wear shoes that are tight in the toe area. Avoid shoes that are loose, because they cause trauma to the toenails. It is also important to trim the toenails straight across and not too short.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag 'conditions/ingrown-toenail.jpg', :alt => 'Ingrown toenail example', :class => ["img-thumbnail", " image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>
