<div class="row">
	
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Diabetic Neuropathy', conditions_neuropathy_path %></li>
	</ol>

	<div class='conditions-container'>
		<h1>Diabetic Neuropathy</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>Diabetic neuropathy is nerve damage due to increased blood sugar. As the nerve damage occurs, the protective sensations are affected. These include a person's ability to determine the difference between sharp and dull, hot and cold, pressure, and vibration.</p>
				<p>Signs of neuropathy include: leg weakness, pain in the feet and legs consisting of tingling, burning, or numbness. Neuropathy causes decreased pain sensation and loss of feeling. Without pain, people may not notice they have been cut, or have stepped on a needle or even a broken a bone. This may lead to serious infection, ulceration, or foot deformities. The most serious complications result in disability and limb loss.</p>
				
				<h2>Diabetic Neuropathy Treatment</h2>
				<p>A podiatrist can perform several tests to determine the extent of neuropathy. The only way to prevent diabetic neuropathy is to maintain good blood sugar control. Exercise and proper diet will help control blood sugar.</p>
				<p>Check your feet daily. Look at the top and bottom of your feet, heels, and between toes. Feel for changes in skin temperature and look for cuts and blisters. Pull your socks off inside out and look for drainage or blood. It may help to use a mirror or ask someone to check for you.</p>
				<p>For diabetics, you may benefit from using diabetic shoes which decrease friction and prevent ulcerations. Buy shoes with wide toe boxes accommodate your feet and any inserts. Try on shoes in the late afternoon when your feet are the largest from swelling. Do not walk around barefoot - not even inside your house! Vitamin B6, B12 supplements may help your neuropathic symptoms as can several prescription medications. Your treatment course will be tailored to your specific needs.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns and she will explore the best treatment options with you.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag 'conditions/diabetic-neuropathy.jpg', :alt => 'Diabetic Neuropathy Foot example', :class => ["img-thumbnail", " image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>
