<div class="row">
	<ol class="breadcrumb">
	  <li><%= link_to 'Dr. Merin Yoshida DPM', root_path %></li>
	  <li><%= link_to 'Conditions & Treatments', conditions_path %></li>
	  <li><%= link_to 'Orthotics', conditions_orthodics_path %></li>
	</ol>
	<div class='conditions-container'>
		<h1>Orthotics</h1>
		<div class='col-md-6'>
			<div class='content-section'>
				<p>Orthotics are devices inserted into the sole of a shoe. They are available in a wide range of materials and can function to control abnormal movement or protect your feet. The three main types of orthotics include rigid, semi-rigid and soft. 

				<p>Whether you need arch supports for standing, shock absorption for sports or protection for <%= link_to 'neuropathic feet', conditions_neuropathy_path %>, we find the perfect fit for you and help alleviate the everyday stress on your feet.</p>
				<p><%= link_to 'Contact Dr. Yoshida ', contact_path %>today to discuss your questions or concerns.</p>
			</div>
		</div>
		<div class='col-md-6 img-container'>
			<%= image_tag 'conditions/custom-orthodics.jpg', :alt => 'Customized Orthodics for your feet', :class => ["img-thumbnail", " image-responsive", "center-block", "img-smaller"] %>
		</div>
	</div>
</div>
