		<footer class="footer-distributed">

			<div class="footer-left">
				<div class='col-md-6 footer-details'>
					<h3>Dr. Merin<span> Yoshida</span></h3>
					<div class="footer-section">
						<i class="fa fa-map-marker"></i>
						<span>19066 Magnolia St.</span> 
						<br>Huntington Beach CA, 92646
					</div>

					<div class="footer-section">
						<i class="fa fa-phone"></i>
						<a href='tel:+17149680068'>(714) 968-0068</a>
					</div>

					<div class="footer-section">
						<i class="fa fa-envelope"></i>
						<a href="mailto:merin@drmerin.com">merin@drmerin.com</a>
					</div>
				</div>
			</div>

			<div class="footer-center">
				<div class="col-md-4">
					<ul class="footer-links">
						<li><%= link_to 'Home', root_path %></li>
						<li><%= link_to 'About', about_path %></li>
			            <li><%= link_to 'When to Visit a Podiatrist', patient_when_to_visit_path %></li>
			            <li><%= link_to 'We Truly Care', patient_path %></li>
						<li><%= link_to 'Contact Dr. Yoshida', contact_path %></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="footer-links">
			            <li><%= link_to 'Achilles Tendinitis, Tendinosis', conditions_achilles_path %></li>
			            <li><%= link_to 'Arthritis, Hallus Limitus, Hallux Rigidus', conditions_arthritis_path %></li>
			            <li><%= link_to 'Bunion, Hallux Valgus, Hallux Abductovalgus (HAV)', conditions_bunion_path %></li>
						<li><%= link_to 'Callus, Corn', conditions_callus_path %></li>
						<li><%= link_to 'Diabetic Ulcer, Diabetic Foot Care', conditions_diabetic_path %></li>
						<li><%= link_to 'Diabetic Neuropathy', conditions_neuropathy_path %></li>
						<li><%= link_to 'Flatfeet, Fallen Arches, Posterior Tibial Tendon Disorder (PTTD)', conditions_flatfeet_path %></li>
						<li><%= link_to 'Foot & Ankle Fractures', conditions_fractures_path %></li>
						
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="footer-links">
						<li><%= link_to 'Foot & Ankle Sprains', conditions_sprain_path %></li>
						<li><%= link_to 'Hammertoes', conditions_hammertoes_path %></li>
						<li><%= link_to 'Heel Spur, Bone Spur', conditions_spur_path %></li>
						<li><%= link_to 'Ingrown Toenail', conditions_ingrown_path %></li>
						<li><%= link_to 'Nail Fungus, Tinea, Onychomycosis', conditions_fungus_path %></li>
						<li><%= link_to 'Neuroma', conditions_neuroma_path %></li>
						<li><%= link_to 'Orthotics', conditions_orthodics_path %></li>
						<li><%= link_to 'Plantar Fasciitis, Heel Pain', conditions_plantar_path %></li>
						<li><%= link_to 'Wart', conditions_wart_path %></li>
						<li><%= link_to 'Wound Care, Diabetic Ulcer', conditions_wound_path %></li>
					</ul>
				</div>

			</div>

			<div class="footer-right">

				<p>Contact Us</p>

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Your Email" />
					<textarea name="message" placeholder="Hello! How can I help you?"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>